

html,body{
    height: 100dvh;
    width: 100vw;
    margin:0;
    overflow: hidden;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100dvh;
}

canvas{
    border: 3px solid black;
}

.actions{
    width: 100%;

}

.actions{
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
}

.actions button{
    flex: 1;
    aspect-ratio: 1;

    background-color: white;
    border-radius: 10px;
    height: 100%;   

    display: flex;
    align-items: center;
    justify-items: center;

    font-size: 5vw;

    cursor: pointer;
}

.actions button svg{
    width: 100%;
}


.actions button.active{
    background-color: black;
    color: white;
}

